# Import der Medieval Diagramm Datenbank

Als Datenbank wird eine vereinfachte unter Liste aller Diagramme genutzt.  Die Datenbank *diaattr.json* enthält als Forschungsdatenobjekt die Beschreibung der Diagramme mit Attributen, die die Charakteristiken  der Manuskripte, der heutigen Halter Bibliotheken sowie der Lage der Abbildung auf dem Manuskript beschreibt.

In [126]:
import pandas as pd
import medDiaJson as medDia
import roman_date as roda

In [127]:
url = 'https://raw.githubusercontent.com/grasshoff/ComputationalHistoryScience/master/diaattr.json'
diagrams = pd.read_json(url)
diagrams.head(1)

,altID,author,biblio,diaAttr,diaID,diaTyp,diaURL,foliopage,manID,manURL,textID,textURL,year
0,Plin4,Plinius,"Vaticano BAV, Ross. 247","[{'M2.23': 0, 'M2.18': 1, 'M2.10': 1, 'M2.17':...",MAPD0668,2,Dl_1&pn=396&dw=1858&dh=901&ww=0.8926&wh=0.6552...,200v,DL(1),Dl_1&pn=1,DL(1)_A,,IX

# Dataframes

## Extensions: centuries

In [128]:
diagrams['century']=diagrams['year'].apply(lambda r: roda.from_roman(r))
len(diagrams)

721

In [129]:
diagrams.head(1)

,altID,author,biblio,diaAttr,diaID,diaTyp,diaURL,foliopage,manID,manURL,textID,textURL,year,century
0,Plin4,Plinius,"Vaticano BAV, Ross. 247","[{'M2.23': 0, 'M2.18': 1, 'M2.10': 1, 'M2.17':...",MAPD0668,2,Dl_1&pn=396&dw=1858&dh=901&ww=0.8926&wh=0.6552...,200v,DL(1),Dl_1&pn=1,DL(1)_A,,IX,9

## Selections

reducedData(dataframe, keyValueList,debug=False): reduziert den gesamten Dataframe auf die Zeilen und Spalten, für die keyValueList = True ist, zB gibt reducedData(df,[['author','Capella'],['diaTyp', 20.0]]) einen Dataframe der Capella Diagramme vom Typ 20 aus.

In [130]:
medDia.reducedData(diagrams,[["century",0]])

,altID,author,biblio,diaAttr,diaID,diaTyp,diaURL,foliopage,manID,manURL,textID,textURL,year,century
0,Calc265,Calcidius,unbekannt,"[{'M10.17': 0, 'M10.31': 0, 'M10.20': 0, 'M10....",MAPD0186,10,Nw_1&pn=17&dw=1858&dh=901&ww=0.3051&wh=0.2919&...,15v,NW(1),Nw_1&pn=1,NW(1)_A,,unbekannt,0
1,Calc266,Calcidius,unbekannt,"[{'M11.44': 0, 'M11.46': 0, 'M11.39': 0, 'M11....",MAPD0187,11,Nw_1&pn=17&dw=1858&dh=901&ww=0.331&wh=0.3245&w...,16r,NW(1),Nw_1&pn=1,NW(1)_A,,unbekannt,0
2,Calc267,Calcidius,unbekannt,"[{'M12.6': 1, 'M12.9': 1, 'M12.29': 0, 'M12.16...",MAPD0188,12,Nw_1&pn=18&dw=1858&dh=901&ww=0.3514&wh=0.3788&...,16v,NW(1),Nw_1&pn=1,NW(1)_A,,unbekannt,0
3,Calc268,Calcidius,unbekannt,"[{'M13.2': 1, 'M13.4': 0, 'M13.20': 0, 'M13.8'...",MAPD0189,13,Nw_1&pn=19&dw=1858&dh=901&ww=0.2615&wh=0.2593&...,17v,NW(1),Nw_1&pn=1,NW(1)_A,,unbekannt,0
4,Calc269,Calcidius,unbekannt,"[{'M14.28': 0, 'M14.17': 0, 'M14.21': 0, 'M14....",MAPD0190,14,Nw_1&pn=23&dw=1858&dh=901&ww=0.2534&wh=0.2422&...,21v,NW(1),Nw_1&pn=1,NW(1)_A,,unbekannt,0
5,Calc270,Calcidius,unbekannt,"[{'M15.16': 1, 'M15.2': 1, 'M15.20': 0, 'M15.5...",MAPD0192,15,Nw_1&pn=23&dw=1858&dh=901&ww=0.282&wh=0.3136&w...,22r,NW(1),Nw_1&pn=1,NW(1)_A,,unbekannt,0

## Cleaning data
Leave out 
   - diagrams without corresponding diatyp
   - unclear year

In [131]:
diagrams2=diagrams[diagrams["diaTyp"] != 0.0]
len(diagrams2)

707

In [132]:
diagrams=diagrams2[diagrams2["diaTyp"] != '']
len(diagrams)

660

In [133]:
diagrams=diagrams[diagrams["century"] != 0]
len(diagrams)

654

In [134]:
diagrams.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 654 entries, 0 to 720
Data columns (total 14 columns):
altID        654 non-null object
author       654 non-null object
biblio       654 non-null object
diaAttr      654 non-null object
diaID        654 non-null object
diaTyp       654 non-null object
diaURL       654 non-null object
foliopage    654 non-null object
manID        654 non-null object
manURL       654 non-null object
textID       654 non-null object
textURL      654 non-null object
year         654 non-null object
century      654 non-null int64
dtypes: int64(1), object(13)
memory usage: 76.6+ KB

## Mengen: Autoren, years and centuries

In [135]:
setAutoren=set(pd.Series(diagrams["author"]))
setAutoren

{'Calcidius', 'Capella', 'Macrobius', 'Plinius'}

In [136]:
years=pd.Series(diagrams['year'])
setYears=set(years)
# setYears

In [137]:
setTextID=set(pd.Series(diagrams["textID"]))
len(setTextID)

229

In [138]:
setDiaTyp=set(pd.Series(diagrams["diaTyp"]))
setDiaTyp

{1.0,
 2.0,
 3.0,
 4.0,
 5.0,
 6.0,
 7.0,
 8.0,
 9.0,
 10.0,
 11.0,
 12.0,
 13.0,
 14.0,
 15.0,
 16.0,
 17.0,
 18.0,
 19.0,
 20.0,
 21.0,
 22.0,
 23.0,
 24.0,
 25.0,
 26.0,
 27.0,
 28.0,
 29.0,
 30.0,
 31.0}

In [139]:

setCent=set(pd.Series(diagrams["century"]))
setCent

{9, 10, 11, 12, 13, 14, 15}

## Groupedby Partitionen

In [140]:
gdAuthor=diagrams.groupby('author').groups
gdDiaTyp=diagrams.groupby('diaTyp').groups
gdTextID=diagrams.groupby('textID').groups

In [141]:
for a in setAutoren:
    print(a + " =",len(gdAuthor[a]))

Capella = 158
Calcidius = 278
Plinius = 106
Macrobius = 112

## Counts

In [142]:
diagrams["author"].value_counts()

Calcidius    278
Capella      158
Macrobius    112
Plinius      106
Name: author, dtype: int64

In [147]:
diagrams["diaTyp"].value_counts()

14.0    54
11.0    52
15.0    46
8.0     45
10.0    44
12.0    44
13.0    38
17.0    32
1.0     28
3.0     23
16.0    18
9.0     17
2.0     14
30.0    14
22.0    14
6.0     14
29.0    13
24.0    13
27.0    12
5.0     12
31.0    12
26.0    12
28.0    11
25.0    11
23.0    11
21.0    10
18.0    10
7.0      9
19.0     8
20.0     7
4.0      6
Name: diaTyp, dtype: int64

In [144]:
diagrams["century"].value_counts()

11    184
12    162
9     123
15    103
10     54
13     18
14     10
Name: century, dtype: int64